.formInput {
    border: none;
    outline: none;
    background-color: rgba(165, 152, 166, 0.108);
    display: block;
    font-size: small;
    padding: .6rem;
}

.textarea {
    height: 25vh;
    width: 100%; 
}