.navBar {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(134, 134, 134, 0.5);
    z-index: 11;
}

.categories {
    padding: 1rem 0;
    margin: auto;
}

.categories span {
    cursor: pointer;
}

.postContainer {
    background-color: white;
    box-shadow: 0 0 5px 0 rgba(95, 116, 71, 0.301);
    border-radius: 0;
    transition: all 200ms ease-in;
}

.postContainer:hover {
    border-radius: .01rem;
}

.featuredImage {
    width: 100%;
    height: 10rem;
}


.postsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
}

.underline {
    height: 4px;
    width: 40%;
    background-color: rgba(0, 0, 255, 0.182);
}

@media screen and (max-width: 570px) {
    .postsContainer {
        grid-template-columns: auto;
    }
}


@media screen and (min-width: 570px) {
    .postsContainer {
        grid-template-columns: 1fr 1fr;
    }

    .postContainer {
        margin: .3rem;
    }
}


@media screen and (min-width: 355px) and (max-width: 570px) {
    .postContainer {
        margin: 1.5rem;
    }
}


/* PostsWidget and categories */
.PostWidgetPhotoWrapper {
    width: 3rem;
    height: 3rem;
    padding: .1rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 1) 24%, rgba(70, 70, 161, 1) 53%, rgba(0, 212, 255, 1) 100%);
    border-radius: 50%;
}

.PostWidgetPhoto {
    border-radius: inherit;
    width: 100%;
    height: 100%;
}

.photoWrapper {
    width: 5rem;
    height: 5rem;
    padding: .1rem;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 1) 24%, rgba(70, 70, 161, .6) 53%, rgba(0, 212, 255, .5) 100%);
    border-radius: 50%;
}

.photoWrapper img {
    border-radius: inherit;
}

/* to top arrow */
.arrow {
    width: 8rem;
    height: 2.4rem;
    fill: rgba(44, 23, 182, 0.852);
    cursor: pointer;
    animation: hang 1.5s ease-in-out infinite;
    position: fixed;
    bottom: 1rem;
    right: .8rem;
    z-index: 11;
    border-radius: .4rem;
}

@keyframes hang {
    0% {
        bottom: 1rem;
    }

    70% {
        bottom: 1.2rem;
    }
}



/* menu bar for small screen */
/* large screens */
@media screen and (min-width: 450px) {
    .hideNav {
        display: block;
    }
    
    .menuIcon {
        display: none;
    }
}
/* small to ordinary screen */
@media screen and (max-width: 450px) {
    .hideNav {
        display: none;
    }

    .headerNavigation {
        position: fixed;
        top: 3.5rem;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100vh - 3.5rem);
        background-color: rgb(218, 230, 230);

        user-select: none;
    }
 
    
    .headerNavigation span {
        margin: 3vh auto;
        background-color: rgb(19, 121, 121);
        display: block;
        width: 6rem;
        padding: .4rem 0;
        text-align: center;
        transform: skew(10deg);
    }
}